[submodule "ArchLinux/packer-arch"]
	path = ArchLinux/packer-arch
	url = git@github.com:elasticdog/packer-arch.git
[submodule "packer-nixos-amd64"]
	path = packer-nixos-amd64
	url = git@github.com:cosmo0920/packer-nixos-amd64.git
[submodule "packer-template-Ubuntu-12.04.4-amd64-for-Ruby-GNOME2"]
	path = packer-template-Ubuntu-12.04.4-amd64-for-Ruby-GNOME2
	url = git@github.com:cosmo0920/packer-template-Ubuntu-12.04.4-amd64-for-Ruby-GNOME2.git
